<section class="about" id="about">
  	  <div class="container">
  	  	  <div class="content">
  	  	  	   <div class="box wow bounceInUp">
  	  	  	   	   <div class="inner">
  	  	  	   	   	   <div class="img">
  	  	  	   	   	   	  <%= image_tag("jigoro.jpg")%>
  	  	  	   	   	   </div>
                       <div class="text">
                       	   <h4>Sensei TOM</h4>
                       	   <p>Faixa Preta desde 2000, Campeao de tudo, ministra aulas desde 2011 ...</p>
                       </div>
  	  	  	   	   </div>
  	  	  	   </div>
  	  	  	   	<div class="box wow bounceInUp" data-wow-delay="0.2s">
  	  	  	   	   <div class="inner">
  	  	  	   	   	   <div class="img">
  	  	  	   	   	   	  <%= image_tag("jigoro.jpg")%>
  	  	  	   	   	   </div>
                       <div class="text">
                       	   <h4>Sensei Wellinton</h4>
                       	   <p>Faixa Preta desde 2000, Campeao de tudo, ministra aulas desde 2011 ...</p>
                       </div>
  	  	  	   	   </div>
  	  	  	   </div>
  	  	  	   <div class="box wow bounceInUp" data-wow-delay="0.4s">
  	  	  	   	   <div class="inner">
  	  	  	   	   	   <div class="img">
  	  	  	   	   	   	  <%= image_tag("jigoro.jpg")%>
  	  	  	   	   	   </div>
                       <div class="text">
                       	   <h4>Sensei Gustavo</h4>
                       	   <p>Faixa Preta desde 2000, Campeao de tudo, ministra aulas desde 2011 ...</p>
                       </div>
  	  	  	   	   </div>
  	  	  	   </div>
  	  	  </div>
  	  </div>
  </section>
