<section class="classes" id="classes">
	<div class="container">
		 <div class="content">
		 	  <div class="box img wow slideInLeft">
		 	  	 <%= image_tag("logo.jpg")%>
		 	  </div>
		 	  <div class="box text wow slideInRight">
		 	  	 <h2>Nossas Aulas</h2>
		 	  	 <p> Durante nossas aulas você irá aprimorar seu condicionamento físico com diversos tipos de exercícios, focados em
              alongamento, resistência e força. Além disso você irá aprender uma luta completa, aprendendo as 3 fases de luta e também nossos Katas</p>
		 	  	<div class="class-items">
		 	  	 <div class="item wow bounceInUp">

                     <div class="item-text">
                     	  <h4>Kihon</h4>
                     	  <p>a prática de técnicas traumatizantes fundamentais como: bases, defesas, socos e chutes</p>
                        <h4>Nague-Waza</h4>
                     	  <p>técnicas de projeção ao solo, ou seja, desequilibrantes.</p>
                        <h4>Ne-Waza</h4>
                     	  <p>técnicas das artes marciais  que são executadas no chão</p>
                        <h4>Kata</h4>
                     	  <p>uma forma de luta imaginária contra um ou mais adversários.</p>

                     </div>
		 	  	 </div>
		 	  	</div>
		 	  </div>
		 </div>
	</div>
</section>
