<section class="contact" id="contact">
     <div class="container">
        <div class="content">
            <div class="box form wow slideInLeft">
               <form>
                  <input type="text" placeholder="Nome">
                  <input type="text" placeholder="Email">
                  <input type="text" placeholder="Celular">
                  <textarea placeholder="Deixe sua Mensagem"></textarea>
                  <button type="submit">Send Message</button>
               </form>
            </div>
            <div class="box text wow slideInRight">
                 <h2>Academia Brothers</h2>
                  <p class="title-p">Entre em contato com nossa equipe de profissionais e saiba mais sobre nossos planos e modalidades.</p>
                  <div class="info">
                      <ul>
                          <li><span class="fa fa-map-marker"></span> Avenida Doutor Franco da Rocha 675 Centro, Vila Zanela - Franco da Rocha - SP</li>
                          <li><span class="fa fa-phone"></span> (11) 4811-7552 / 99707-1838</li>
                          <li><span class="fa fa-envelope"></span> academiabrothers@gmail.com</li>
                      </ul>
                  </div>
                  <div class="social">
                       <a href=""><span class="fa fa-facebook"></span></a>
                       <a href=""><span class="fa fa-linkedin"></span></a>
                       <a href=""><span class="fa fa-skype"></span></a>
                       <a href=""><span class="fa fa-youtube-play"></span></a>
                  </div>

                  <div class="copy">
                      PowerBy &copy; The WebShala
                  </div>
            </div>
        </div>
     </div>
  </section>
