 <section class="service" id="service">
 	<div class="container">
 		 <div class="content">
 		 	  <div class="text box wow slideInLeft">
                  <h2>História</h2>
                  <p>Em meados dos anos 90 nasceu o Morganti Ju-Jitsu, o primeiro estilo de Ju-Jitsu no Brasil, idealizado pelo, Shidoshi Ricardo Morganti, que conheceu o estilo através do seu pai, Paulo Morganti que foi aluno dos famosos irmãos Ono, uns dos responsáveis por trazer o Judô e o Ju-Jitsu para o Brasil.
                     A ideia da criação de um estilo e método de ensino surgiu no trabalho de conclusão de curso de Educação Física do Shidoshi Ricardo Morganti na faculdade UNIFMU, o estilo, em 1998 foi apresentado ao mestre Wally Jay fundador da ISJA (International Sport Ju-Jitsu Association) que passou a reconhecê-lo como membro da entidade e como modalidade oficial de Ju-Jitsu.
                     A partir de 2000, em função da enorme quantidade de medalhas e do trabalho realizado, Ricardo passa então a presidir a ISJA, tal função que durou até 2006 e deixou um legado dentro da entidade com o Brasil se sagrado 3 x campeão mundial e com inúmeros medalhistas. O MJJ passa então a desenvolver seu trabalho em outros países aumentando cada vez mais seu braço de atuação no mundo</p>

                  <a href="" class="btn">Start Now</a>
 		 	  </div>
 		 	  <div class="accordian box wow slideInRight">
 		 	  	    <div class="accordian-container active">
 		 	  	    	<div class="head">
 		 	  	    		<h4>Nossa Equipe</h4>
 		 	  	    		<span class="fa fa-angle-down"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  	    <div class="accordian-container">
 		 	  	    	<div class="head">
 		 	  	    		<h4>Nossa missão</h4>
 		 	  	    		<span class="fa fa-angle-up"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  	    <div class="accordian-container">
 		 	  	    	<div class="head">
 		 	  	    		<h4>Nossos Valores</h4>
 		 	  	    		<span class="fa fa-angle-up"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  	    <div class="accordian-container">
 		 	  	    	<div class="head">
 		 	  	    		<h4>A Academia</h4>
 		 	  	    		<span class="fa fa-angle-up"></span>
 		 	  	    	</div>
 		 	  	    	<div class="body">
 		 	  	    		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
 		 	  	    	</div>
 		 	  	    </div>
 		 	  </div>
 		 </div>
 	</div>
 </section>
