 <header>
   <div class="nav-container">
 	 	 <div class="logo">
 	 		  <a href="">Morganti JuJitsu <span>Franco da Rocha</span></a>
 	 	 </div>
 	 	 <a href="javascript:void(0)" class="ham-burger">
 	       <span></span>
 	       <span></span>
 	 	 </a>
 	 	  <div class="nav">
 	 		  <ul>
 	 			  <li><a href="#home">Home</a></li>
 	 			  <li><a href="#about">Quem Somos</a></li>
 	 			  <li><a href="#service">História</a></li>
 	 			  <li><a href="#classes">Aulas</a></li>
 	 			  <li><a href="#schedule">Horários</a></li>
 	 			  <li><a href="#contact">Contato</a></li>
 	 		  </ul>
 	 	 </div>
   </div>
   </header>
