<section class="schedule" id="schedule">
  	 <div class="container">
       	 	  	   	   <h2 style="text-align: center;"><strong>Agenda</strong></h2><br>
  	 	  <div class="content">
  	 	  	   <div class="box text wow slideInLeft">
  	 	  	   	   <%= image_tag("Samurai.png")%>
  	 	  	   </div>
  	 	  	   <div class="box timing wow slideInRight">
                   <table class="table">
                   	 <tbody>
                   	 	<tr>
                   	 		<td class="day">Segunda</td>
                   	 		<td><strong>Não há aulas</strong></td>
                   	 		<td> <br/></td>
                   	 		<td></td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">Terça</td>
                   	 		<td><strong>20:00</strong></td>
                   	 		<td>Morganti JuJitsu <br/> 20:00 to 21:30</td>
                   	 		<td>Academia Brothers</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">Quarta</td>
                   	 		<td><strong>Não há aulas</strong></td>
                   	 		<td> <br/> </td>
                   	 		<td></td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">Quinta</td>
                   	 		<td><strong>20:00</strong></td>
                   	 		<td>Morganti JuJitsu <br/> 20:00 to 21:30</td>
                   	 		<td>Academia Brothers</td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">Sexta</td>
                   	 		<td><strong>Não há aulas</strong></td>
                   	 		<td><br/> </td>
                   	 		<td></td>
                   	 	</tr>
                   	 	<tr>
                   	 		<td class="day">Sábado</td>
                   	 		<td><strong>9:00</strong></td>
                   	 		<td>Morganti JuJitsu <br/> 9:00 to 10:30 AM</td>
                   	 		<td>Academia Brothers</td>
                   	 	</tr>
                      <tr>
                   	 		<td class="day">Domingo</td>
                   	 		<td><strong>Não há aulas</strong></td>
                   	 		<td><br/></td>
                   	 		<td></td>
                   	 	</tr>
                   	 </tbody>
                   </table>
  	 	  	   </div>
  	 	  </div>
  	 </div>
  </section>
