<section class="start-today">
 	<div class="container">
 		 <div class="content">
 		 	  <div class="box text wow slideInLeft">
          <br>
 		 	  	 <h2>Agende sua aula grátis!</h2>
 		 	  	 <p>Entre em contato conosco e participe de uma aula totalmente gratuita, onde você irá aprender na prática tudo o que o Morganti Ju Jitsu pode lhe oferecer</p>
 		 	  	 <a href="" class="btn">Agendar</a>
             <br><br>
 		 	  </div>

 		 </div>
 	</div>
 </section>
